# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

terraform.tfvars
*.tfvars

# Terraform crash logs
crash.log
crash.*.log

# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/

# Environment variables
.env

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
